.vuecal {
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 0 1px inset rgba(0, 0, 0, 0.08);
}
.vuecal * {
    user-select: none;
}
.vuecal .clickable {
    cursor: pointer;
}
.vuecal--xsmall {
    font-size: 0.9em;
}
.vuecal__flex {
    display: flex;
    flex-direction: row;
}
.vuecal__flex[column] {
    flex-direction: column;
    flex: 1 1 auto;
}
.vuecal__flex[grow] {
    flex: 1 1 auto;
}
.vuecal__flex[wrap] {
    flex-wrap: wrap;
}
.vuecal__body {
    position: relative;
    overflow: auto;
}
.vuecal__all-day {
    min-height: 1.7em;
    margin-bottom: -1px;
    flex-shrink: 0;
}
.vuecal__all-day > span {
    width: 3em;
    min-width: 3em;
    color: #999;
    padding-right: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #ddd;
    hyphens: auto;
}
.vuecal__all-day > span span {
    font-size: 0.85em;
    text-align: right;
    line-height: 1.1;
}
.vuecal--time-12-hour .vuecal__all-day > span {
    width: 4em;
    min-width: 4em;
}
.vuecal__bg {
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    min-height: 60px;
    position: relative;
    width: 100%;
    margin-bottom: 1px;
}
.vuecal--no-time .vuecal__bg {
    display: flex;
    flex: 1 1 auto;
    overflow: visible;
}
.vuecal__time-column {
    width: 3em;
    height: 100%;
    flex-shrink: 0;
}
.vuecal--time-12-hour .vuecal__time-column {
    width: 4em;
    font-size: 0.9em;
}
.vuecal--overflow-x.vuecal--week-view .vuecal__time-column {
    margin-top: 2.8em;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
.vuecal__time-column .vuecal__time-cell {
    color: #999;
    text-align: right;
    padding-right: 2px;
    font-size: 0.9em;
}
.vuecal__time-column .vuecal__time-cell .line:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    border-top: 1px solid #eee;
}
.vuecal__cells {
    margin: 0 1px 1px 0;
}
.vuecal--overflow-x.vuecal--week-view .vuecal__cells {
    flex-wrap: nowrap;
    overflow: auto;
}
.slide-fade--left-enter-active, .slide-fade--left-leave-active, .slide-fade--right-enter-active, .slide-fade--right-leave-active {
    transition: 0.25s ease-out;
}
.slide-fade--left-enter, .slide-fade--right-leave-to {
    transform: translateX(-15px);
    opacity: 0;
}
.slide-fade--left-leave-to, .slide-fade--right-enter {
    transform: translateX(15px);
    opacity: 0;
}
.slide-fade--left-leave-active, .slide-fade--right-leave-active {
    position: absolute !important;
    height: 100%;
}
.vuecal__title-bar .slide-fade--left-leave-active, .vuecal__title-bar .slide-fade--right-leave-active {
    left: 0;
    right: 0;
    height: auto;
}
.vuecal__heading .slide-fade--left-leave-active, .vuecal__heading .slide-fade--right-leave-active {
    display: flex;
    align-items: center;
}
.vuecal--green-theme .vuecal__menu, .vuecal--green-theme .vuecal__cell-events-count {
    background-color: #42b983;
    color: #fff;
}
.vuecal--green-theme .vuecal__menu li {
    border-bottom-color: #fff;
}
.vuecal--green-theme .vuecal__menu li.active {
    background-color: rgba(255, 255, 255, 0.15);
}
.vuecal--green-theme .vuecal__title-bar {
    background-color: #e4f5ef;
}
.vuecal--green-theme .vuecal__cell.today, .vuecal--green-theme .vuecal__cell.current {
    background-color: rgba(240, 240, 255, 0.4);
}
.vuecal--green-theme:not(.vuecal--day-view) .vuecal__cell.selected {
    background-color: rgba(235, 255, 245, 0.4);
}
.vuecal--green-theme .vuecal__cell.selected:before {
    border-color: rgba(66, 185, 131, 0.5);
}
.vuecal--blue-theme .vuecal__menu, .vuecal--blue-theme .vuecal__cell-events-count {
    background-color: rgba(66, 163, 185, 0.8);
    color: #fff;
}
.vuecal--blue-theme .vuecal__menu li {
    border-bottom-color: #fff;
}
.vuecal--blue-theme .vuecal__menu li.active {
    background-color: rgba(255, 255, 255, 0.15);
}
.vuecal--blue-theme .vuecal__title-bar {
    background-color: rgba(0, 165, 188, 0.3);
}
.vuecal--blue-theme .vuecal__cell.today, .vuecal--blue-theme .vuecal__cell.current {
    background-color: rgba(240, 240, 255, 0.4);
}
.vuecal--blue-theme:not(.vuecal--day-view) .vuecal__cell.selected {
    background-color: rgba(235, 253, 255, 0.4);
}
.vuecal--blue-theme .vuecal__cell.selected:before {
    border-color: rgba(115, 191, 204, 0.5);
}
.vuecal--rounded-theme .vuecal__weekdays-headings {
    border: none;
}
.vuecal--rounded-theme .vuecal__cell, .vuecal--rounded-theme:not(.vuecal--day-view) .vuecal__cell:before {
    background: none;
    border: none;
}
.vuecal--rounded-theme .vuecal__cell.out-of-scope {
    opacity: 0.4;
}
.vuecal--rounded-theme .vuecal__cell-content {
    width: 30px;
    height: 30px;
    flex-grow: 0;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #333;
}
.vuecal--rounded-theme.vuecal--day-view .vuecal__cell-content {
    width: auto;
    background: none;
}
.vuecal--rounded-theme.vuecal--year-view .vuecal__cell {
    width: 33.33%;
}
.vuecal--rounded-theme.vuecal--year-view .vuecal__cell-content {
    width: 85px;
}
.vuecal--rounded-theme.vuecal--years-view .vuecal__cell-content {
    width: 52px;
}
.vuecal--rounded-theme .vuecal__cell {
    background-color: transparent !important;
}
.vuecal--rounded-theme.vuecal--green-theme:not(.vuecal--day-view) .vuecal__cell-content {
    background-color: #f1faf7;
}
.vuecal--rounded-theme.vuecal--green-theme:not(.vuecal--day-view) .vuecal__cell.today .vuecal__cell-content {
    background-color: #42b983;
    color: #fff;
}
.vuecal--rounded-theme.vuecal--green-theme .vuecal--day-view .vuecal__cell.today:before {
    background-color: rgba(66, 185, 131, 0.05);
}
.vuecal--rounded-theme.vuecal--green-theme:not(.vuecal--day-view) .selected .vuecal__cell-content {
    border-color: #42b983;
}
.vuecal--rounded-theme.vuecal--blue-theme:not(.vuecal--day-view) .vuecal__cell-content {
    background-color: rgba(100, 182, 255, 0.2);
}
.vuecal--rounded-theme.vuecal--blue-theme:not(.vuecal--day-view) .vuecal__cell.today .vuecal__cell-content {
    background-color: #8fb7e4;
    color: #fff;
}
.vuecal--rounded-theme.vuecal--blue-theme .vuecal--day-view .vuecal__cell.today:before {
    background-color: rgba(143, 183, 228, 0.1);
}
.vuecal--rounded-theme.vuecal--blue-theme:not(.vuecal--day-view) .selected .vuecal__cell-content {
    border-color: #61a9e0;
}
